@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*color*/
    --accent-color: #000005;
    --text-color: #727171 ;
    --titule-color: #010018;
    --accent-titule-color: #E69732;
    --buttom-color: #F35C52;
    --accent-text-color: #c1bfbf ;
    --text-number:  #bebebe ;
    --line: rgba(191, 191, 191, 0.403);

    /*font*/
    --font: 'Inter', sans-serif;

    /* font accessibility */
    font-size: 62.5%;
}

body{
    font-family: var(--font);
}
.text h1{
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 4.2rem;
    color: var(--titule-color);
}

.text p{
    font-size: 1.4rem;
    text-align: justify;
    color: var(--text-color);
}

.text button{
    width: 15rem;
    padding: 1.2rem;
    background-color: var(--buttom-color);
    color: white;
    border-style: none;
    letter-spacing: 2px;
}

a{
    list-style: none;
    text-decoration: none;

}


h2{
    color: var(--accent-titule-color);
    font-size: 3rem;
    padding-bottom: 2rem;

}

a h3:hover{
    color: var(--accent-titule-color)
}


h3{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: white;
}

aside{
    background-color: var(--accent-color);
    color: white;
    padding: 3rem;
    width: 28rem;
    padding-bottom: 0;
}

aside p {
    color: var(--accent-text-color);
    padding-bottom: 2.5rem;
    margin-left: 0;
}

#line{
    border: 0.1px solid var(--line);
    width: 22rem;
    margin-bottom: 3rem;
    border-width: 0.1px;
   
    
}

.new1 img:hover, .new2 img:hover, .new3 img:hover{
    transform: scale(1.3);
    opacity: 0.5; 
}

.web:hover{
    transform: scale(1.1);
    opacity: 0.5; 
}

@media (max-width: 70rem){

    nav{
        display: flex;
        justify-content: space-between;
        margin: 4rem;
        margin-bottom: 4rem;
        margin-top: 5rem;
    }


    #menu {
        z-index: 2;
        background-color: white;
    }
      
    #menu-bar {
        width: 4.5rem;
        height: 4rem;
        margin: 6rem 4rem 0 2rem;
        cursor: pointer;
    }
      
    .bar {
        height: 5px;
        width: 100%;
        background-color: var(--accent-color);
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
     }
      
    #bar1 {
        transform: translateY(-4px);
    }
      
    #bar3 {
        transform: translateY(4px);
    }
      
    .nav {
        transition: 0.3s ease;
        display: none;
        background-color: white;
    }
      
    .nav ul {
        width: 20rem;
        height: 100rem;
    }
      
    .nav li {
        list-style: none;
        padding: 1.2rem 0;        
    }
      
    .nav li a {
        color: var(--titule-color);
        font-size: 2.5rem;
        text-decoration: none;        
    }
      
    .nav li a:hover {
        font-weight: bold;
        color: var(--accent-titule-color);
    }
      
    .menu-bg, #menu {
        top: 0;
        right: 0;
        position: absolute;
    }
      
    .menu-bg {
        z-index: 1;
        margin: 3rem 0 2rem 2rem;
        background: white;
        transition: 0.3s ease;
    }
      
    .change {
        display: block;
    }
      
    .change .bar {
        background-color: var(--titule-color);
    }
      
    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }
      
    .change #bar2 {
        opacity: 0;
    }
      
    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }
      
      
    .web{
        margin: auto;
        display: block;       
    }
          
    .text h1{
      margin: 2rem 4.2rem;
      line-height: 4.5rem;
      width: 35rem;
    }

    .text p {
        line-height: 2.2rem;
        margin: 2rem 4.2rem;       
    }

    .text button{
        margin-left: 4.2rem;
           
    }
    
    .text button:hover{
        background-color: var(--titule-color);
       
    }
       
    aside{
        margin: 5rem auto;
        width: 40rem;       
    }
             
    .new1{
        display: grid;
        grid-template-columns: 2 ;
        margin-left: 4rem;
    }
    
    .new2{
        display: grid;
        grid-template-columns: 2 ;
        margin-left: 4rem;
    }
    
    .new3{
        display: grid;
        grid-template-columns: 2 ;
        margin-left: 4rem;
    }
    .new1 img{
        grid-column-start: 1;
        width: 7.5rem;
        
    }
    
    h4, h5, p{
        grid-column-start: 2;
        margin-left: 9.6rem;
        position: relative;
       
        
    }
    
    h4{
        color: var(--text-number);
        font-size: 2.5rem;
        font-weight: bolder;
        top: -10rem;
       }
    
    h5{
        top: -9rem;
        font-size: 1.5rem ;
        font-weight: bolder;
        color: var(--titule-color);
    }
    
    .newsletter p{
        top: -7.5rem;
        color: var(--text-color);
        font-size: 1.2rem;
    }

    .new2 img{
        grid-column-start: 1;
        width: 7.5rem;
        
    }
    
    .new3 img{
        grid-column-start: 1;
        width: 7.5rem;
        
    }

    
    
    h5:hover{
        color: var(--accent-titule-color);
    }
    
    
}



@media (min-width: 72rem) {

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30rem;
    margin-bottom: 4rem;
    margin-top: 5rem;
}


ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 3rem;
    padding: 0;
    margin-left: 20rem;
    
}
ul li a{
    
    color: var(--text-color);
    font-size: 1.4rem;
   
}


ul li a:hover{
    font-weight: bold;
    color: var(--accent-titule-color)
}

.page{
    margin-right: 30rem;
    margin-left: 30rem;
    
}

.web{
    
    position: absolute;
    top: 15rem;
   
}

.text{
    position: absolute;
    left: 30rem;
    margin-right: 5rem;
    top: 41rem;
    display: grid;
    grid-gap: 2rem; 
    grid-template-columns: 1.5fr 2fr;
    width: 60rem;
    
}

.text h1{
    grid-column-start: 1;
    
}

.text p {
    grid-column-start: 2;
    margin-left: 0;
}

.text button{
    grid-column-start: 2;
    position: absolute;
    left: 2px;
    top: 9rem;
}

.text button:hover{
    background-color: var(--titule-color);   
}

aside{
    position: absolute;
    left: 94rem;
    top: 15rem;    
}

.newsletter{
    position: absolute;
    top: 57rem;
    display: grid;
    grid-template-columns: 3;    
}

.new1{
    display: grid;
    grid-template-columns: 2 ;
    grid-column-start: 1;
}

.new2{
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 2 ;
    margin-left: 6rem;
}

.new3{
    grid-column-start: 3;
    display: grid;
    grid-template-columns: 2 ;
    margin-left: 6rem;
}

.new1 img{
    grid-column-start: 1;
    width: 7.5rem;
    
}

h4, h5, p{
    grid-column-start: 2;
    margin-left: 9.6rem;
    position: relative;
    font-family: var(--font);

    
}

h4{
    color: var(--text-number);
    font-size: 2.5rem;
    font-weight: bolder;
    top: -10rem;
   }

h5{
    top: -9rem;
    font-size: 1.5rem ;
    font-weight: bolder;
    color: var(--titule-color);
}

.newsletter p{
    top: -7.5rem;
    width: 16rem;
    color: var(--text-color);
    font-size: 1.1rem;
}

.new2 img{
    grid-column-start: 1;
    width: 7.5rem;    
}

.new3 img{
    grid-column-start: 1;
    width: 7.5rem;
}

h5:hover{
    color: var(--accent-titule-color);
}


}